.professional-dj-woman-entertai-icon {
  height: 873px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.about-us-use {
  top: 88px;
  left: 200px;
  font-weight: 600;
  white-space: pre-wrap;
  z-index: 3;
}
.about-us-use,
.header-navigation,
.web-app-faq {
  margin: 0 !important;
  position: absolute;
}
.web-app-faq {
  top: 88px;
  right: 263px;
  font-weight: 600;
  white-space: pre-wrap;
  z-index: 3;
}
.header-navigation {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.djfi-logo-main-copy-1 {
  width: 113px;
  height: 65px;
  z-index: 4;
}
.content-wrapper-child,
.djfi-logo-main-copy-1,
.mail {
  position: relative;
  display: none;
}
.mail {
  width: 81px;
  height: 81px;
  z-index: 7;
}
.content-wrapper-child {
  align-self: stretch;
  height: 815px;
  background-color: var(--color-gray-800);
}
.content-wrapper {
  flex: 1;
  background-color: var(--color-gray-800);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 68px;
  box-sizing: border-box;
  gap: 12.2px;
  max-width: 100%;
  z-index: 1;
}
.content-wrapper-wrapper,
.works-steps {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.content-wrapper-wrapper {
  justify-content: flex-start;
  padding: 0 0 var(--padding-31xl);
  box-sizing: border-box;
}
.works-steps {
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-5xl);
}
.works-content {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 48px;
  max-width: 100%;
}
.works-content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 91px;
  box-sizing: border-box;
  max-width: 100%;
}
.desktop-3-child,
.desktop-3-item {
  width: 351px;
  height: 736px;
  position: relative;
  background-color: var(--color-gray-1100);
  display: none;
  max-width: 100%;
  z-index: 10;
}
.desktop-3-item {
  width: 352px;
  z-index: 11;
}
.f-a-q-container-child {
  width: 54px;
  height: 54px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 544px;
  object-fit: contain;
}
.faq {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
}
.f-a-q-header-dots,
.f-a-q-header-dots1 {
  position: absolute;
  top: 17px;
  left: 0;
  background-color: var(--color-tomato);
  width: 4px;
  height: 4px;
}
.f-a-q-header-dots1 {
  top: 7px;
  left: 5px;
  height: 14px;
}
.f-a-q-header-dots2,
.f-a-q-header-dots3,
.f-a-q-header-dots4,
.f-a-q-header-dots5 {
  position: absolute;
  top: 12px;
  left: 10px;
  background-color: var(--color-tomato);
  width: 4px;
  height: 9px;
}
.f-a-q-header-dots3,
.f-a-q-header-dots4,
.f-a-q-header-dots5 {
  top: 3px;
  left: 15px;
  height: 18px;
}
.f-a-q-header-dots4,
.f-a-q-header-dots5 {
  top: 0;
  left: 35px;
  height: 21px;
}
.f-a-q-header-dots5 {
  top: 11px;
  left: 40px;
  height: 10px;
}
.f-a-q-header-dots6,
.f-a-q-header-dots7,
.f-a-q-header-dots8,
.f-a-q-header-dots9 {
  position: absolute;
  top: 15px;
  left: 45px;
  background-color: var(--color-tomato);
  width: 4px;
  height: 6px;
}
.f-a-q-header-dots7,
.f-a-q-header-dots8,
.f-a-q-header-dots9 {
  top: 9px;
  left: 20px;
  height: 12px;
}
.f-a-q-header-dots8,
.f-a-q-header-dots9 {
  top: 6px;
  left: 25px;
  height: 15px;
}
.f-a-q-header-dots9 {
  top: 13px;
  left: 30px;
  height: 8px;
}
.f-a-q-header-dots-parent {
  height: 21px;
  flex: 1;
  position: relative;
}
.f-a-q-title,
.f-a-q-title-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.f-a-q-title-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-3xs);
}
.f-a-q-title {
  width: 70px;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.f-a-q-title-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.frame-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.f-a-q-title-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  font-size: var(--font-size-13xl);
  color: var(--color-tomato);
}
.f-a-q-container-item {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.can-i-make {
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.eparrow-up-icon {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.question-dropdown-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.f-a-q-question-row {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.f-a-q-question-container-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.f-a-q-question-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.what-are-djfys {
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.eparrow-up-icon1 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.eparrow-up-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.what-are-djfys-administrative-parent {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.f-a-q-question-container-item {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.f-a-q-question-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.f-a-q-container,
.f-a-q-container-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.f-a-q-container {
  width: 1147px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 81px 0 0;
  position: relative;
  gap: var(--gap-15xl);
}
.f-a-q-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 97px var(--padding-xl);
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
}
.footer-background {
  align-self: stretch;
  height: 2px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(253, 223, 9, 0),
    #e82b34 31.56%,
    #fddf09 64.9%,
    rgba(232, 43, 52, 0)
  );
  z-index: 3;
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-600);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-comfortaa);
}
@media screen and (max-width: 1275px) {
  .f-a-q-container {
    padding-top: var(--padding-34xl);
    box-sizing: border-box;
  }
  .f-a-q-container-wrapper {
    padding-bottom: 63px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .content-wrapper {
    padding-bottom: 44px;
    box-sizing: border-box;
  }
  .content-wrapper-wrapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .works-content-wrapper {
    padding-bottom: 59px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .works-content {
    gap: var(--gap-5xl);
  }
  .faq {
    font-size: var(--font-size-7xl);
  }
  .f-a-q-question-row,
  .what-are-djfys-administrative-parent {
    flex-wrap: wrap;
  }
  .f-a-q-container {
    gap: var(--gap-mid);
    padding-top: var(--padding-15xl);
    box-sizing: border-box;
  }
  .f-a-q-container-wrapper {
    padding-bottom: 41px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .content-wrapper {
    padding-bottom: 29px;
    box-sizing: border-box;
  }
  .content-wrapper-wrapper {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .works-content-wrapper {
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .faq {
    font-size: var(--font-size-lgi);
  }
}
