.barclubvenue-dj,
.mask-group-icon2 {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.mask-group-icon2 {
  width: 448px;
  max-height: 100%;
  object-fit: cover;
}
.barclubvenue-dj {
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.in-bars-and {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-gray-1600);
  text-align: justify;
  z-index: 1;
}
.barclubvenue-dj-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.rectangle-div {
  height: 41px;
  width: 144px;
  position: relative;
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #f6b910, #d71b2c);
  display: none;
}
.register {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
  z-index: 1;
}
.rectangle-container {
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #f6b910, #d71b2c);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-19xl) var(--padding-3xs);
  z-index: 1;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.cases-grid,
.frame-div,
.frame-parent1,
.mask-group-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 354px;
}
.cases-grid,
.mask-group-parent {
  flex-direction: row;
}
.mask-group-parent {
  flex: 1;
  justify-content: center;
  gap: var(--gap-27xl);
}
.cases-grid {
  width: 1052px;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-tomato);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1100px) {
  .mask-group-icon2 {
    flex: 1;
  }
  .mask-group-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .barclubvenue-dj {
    font-size: var(--font-size-7xl);
  }
  .frame-parent1 {
    gap: var(--gap-base);
  }
  .mask-group-parent {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .barclubvenue-dj {
    font-size: var(--font-size-lgi);
  }
  .frame-div {
    min-width: 100%;
  }
}
