.what-is-djfy {
  position: relative;
  font-weight: 500;
}
.eparrow-up-icon2 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.first-question-dropdown-icon-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.first-question-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.djfy-is-a {
  width: 1061px;
  position: relative;
  color: var(--color-gray-1600);
  display: inline-block;
  max-width: 100%;
}
.first-question {
  width: 1133px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.first-question-container-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.how-does-djfy {
  position: relative;
  font-weight: 500;
}
.second-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.eparrow-up-icon3 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.second-question-container {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.third-question-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.can-i-use {
  position: relative;
  font-weight: 500;
}
.free-to-use-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.eparrow-up-icon4 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 32px;
}
.third-question,
.third-question-content {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.third-question-content {
  width: 1133px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.third-question {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.third-question-container-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.third-question-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-15xl);
  max-width: 100%;
}
.how-do-i {
  position: relative;
  font-weight: 500;
}
.eparrow-up-icon5 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.fourth-question-dropdown-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.fourth-question {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.fourth-question-container-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.can-i-reject {
  position: relative;
  font-weight: 500;
}
.fifth-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.eparrow-up-icon6 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.fifth-question-container {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.first-question-container,
.fourth-question-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.first-question-container {
  gap: var(--gap-10xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 750px) {
  .third-question-container {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .fifth-question-container,
  .first-question-content,
  .fourth-question,
  .second-question-container,
  .third-question-content {
    flex-wrap: wrap;
  }
}
