.about-image {
  height: 2px;
  width: 1440px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(253, 223, 9, 0),
    #e82b34 31.56%,
    #fddf09 64.9%,
    rgba(232, 43, 52, 0)
  );
  max-width: 100%;
  z-index: 2;
}
.about-header-child {
  position: absolute;
  top: 0.5px;
  left: 0;
  width: 1297px;
  height: 91.5px;
  z-index: 2;
}
.app-name-icon,
.djfi-icon-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.djfi-icon-1 {
  top: 15.5px;
  left: 68px;
  width: 97px;
  height: 102px;
  object-fit: contain;
  z-index: 5;
}
.app-name {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 533px;
  width: 232.5px;
}
.about-header {
  align-self: stretch;
  height: 132.3px;
  position: relative;
}
.about-content,
.about-image-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-content {
  width: 1297px;
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  margin-left: -1369px;
}
.about-image-parent {
  align-self: stretch;
  flex-direction: row;
}
