.mask-group-icon13 {
  height: 59px;
  width: 59px;
  position: relative;
  object-fit: cover;
}
.mask-group-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-27xl) 0 var(--padding-28xl);
}
.gallery1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.gallery-dots,
.gallery-dots1,
.gallery-dots2,
.gallery-dots3,
.gallery-dots4 {
  position: absolute;
  top: 17px;
  left: 0;
  background-color: var(--color-tomato);
  width: 4px;
  height: 4px;
}
.gallery-dots1,
.gallery-dots2,
.gallery-dots3,
.gallery-dots4 {
  top: 7px;
  left: 5px;
  height: 14px;
}
.gallery-dots2,
.gallery-dots3,
.gallery-dots4 {
  top: 12px;
  left: 10px;
  height: 9px;
}
.gallery-dots3,
.gallery-dots4 {
  top: 3px;
  left: 15px;
  height: 18px;
}
.gallery-dots4 {
  top: 0;
  left: 35px;
  height: 21px;
}
.gallery-dots5,
.gallery-dots6,
.gallery-dots7,
.gallery-dots8,
.gallery-dots9 {
  position: absolute;
  top: 11px;
  left: 40px;
  background-color: var(--color-tomato);
  width: 4px;
  height: 10px;
}
.gallery-dots6,
.gallery-dots7,
.gallery-dots8,
.gallery-dots9 {
  top: 15px;
  left: 45px;
  height: 6px;
}
.gallery-dots7,
.gallery-dots8,
.gallery-dots9 {
  top: 9px;
  left: 20px;
  height: 12px;
}
.gallery-dots8,
.gallery-dots9 {
  top: 6px;
  left: 25px;
  height: 15px;
}
.gallery-dots9 {
  top: 13px;
  left: 30px;
  height: 8px;
}
.gallery-dots-parent {
  height: 21px;
  flex: 1;
  position: relative;
}
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl) 0 var(--padding-33xl);
}
.frame-parent9,
.gallery-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-parent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-smi);
}
.frame-parent9 {
  width: 152px;
  align-items: flex-end;
  gap: var(--gap-4xl);
}
.testimonials-navigation-dots-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.dummy-text-of1,
.lorem-ipsum-is1 {
  margin: 0;
}
.lorem-ipsum-is-container1 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-gray-1600);
  text-align: center;
}
.testimonials-navigation-dots {
  width: 785px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.testimonials-navigation-contai {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.mask-group-icon14,
.mask-group-icon15 {
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}
.testimonial-carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mask-group-icon16,
.mask-group-icon17 {
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}
.testimonial-carousel1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mask-group-icon18,
.mask-group-icon19 {
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}
.testimonial-carousel2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mask-group-icon20,
.mask-group-icon21 {
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}
.testimonial-carousel3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mask-group-icon22,
.mask-group-icon23 {
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}
.testimonial-carousel4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.testimonials-image,
.testimonials-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-2xs);
}
.testimonials-navigation {
  width: 1044px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.testimonials-navigation-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-89xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-tomato);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1100px) {
  .testimonials-image {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .gallery1 {
    font-size: var(--font-size-7xl);
  }
  .testimonials-navigation-wrapper {
    padding-bottom: var(--padding-51xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .gallery1 {
    font-size: var(--font-size-lgi);
  }
}
