.dario-dd-k8tnrcwc-unsplash-cop-icon {
  width: 1687px;
  height: 896px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.dummy-text-of,
.lorem-ipsum-is {
  margin: 0;
}
.lorem-ipsum-is-container {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.testimonials-container {
  width: 1043px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.testimonials-description-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1300);
  width: 100%;
  height: 100%;
  display: none;
}
.mask-group-icon6 {
  position: absolute;
  top: 70px;
  right: 692px;
  width: 55px;
  height: 55px;
  object-fit: contain;
  z-index: 2;
}
.testimonials-description {
  width: 1440px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 72px;
  background-color: var(--color-gray-1300);
  z-index: 1;
}
.mask-group-icon7 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.frame-child7,
.mask-group-group,
.mask-group-icon7 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child7 {
  border-radius: var(--br-mini);
  background-color: var(--color-gray-900);
  z-index: 3;
}
.mask-group-group {
  margin: 0 !important;
}
.mask-group-icon8 {
  height: 68px;
  width: 68px;
  position: relative;
  object-fit: contain;
  z-index: 4;
}
.frame-parent5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-192xl) var(--padding-xl) var(--padding-191xl)
    var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  min-width: 447px;
  max-width: 100%;
}
.mask-group-icon9 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.frame-child8,
.mask-group-container,
.mask-group-icon9 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child8 {
  border-radius: var(--br-mini);
  background-color: var(--color-gray-1000);
  z-index: 3;
}
.mask-group-container {
  margin: 0 !important;
}
.mask-group-icon10 {
  height: 68px;
  width: 68px;
  position: relative;
  object-fit: contain;
  z-index: 4;
}
.frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-64xl) var(--padding-xl) var(--padding-63xl);
  position: relative;
}
.mask-group-icon11 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.frame-child9,
.mask-group-icon11,
.mask-group-parent1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child9 {
  border-radius: var(--br-mini);
  background-color: var(--color-gray-1000);
  z-index: 3;
}
.mask-group-parent1 {
  margin: 0 !important;
}
.mask-group-icon12 {
  height: 68px;
  width: 68px;
  position: relative;
  object-fit: contain;
  z-index: 4;
}
.frame-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-64xl) var(--padding-xl) var(--padding-63xl);
  position: relative;
}
.frame-parent6,
.testimonial-card-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  width: 332px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  min-width: 332px;
}
.testimonial-card-container {
  width: 1046px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-8xl);
}
.dario-dd-k8tnrcwc-unsplash-cop-parent {
  margin-left: -72px;
  margin-bottom: 128px;
  width: 1687px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-133xl) var(--padding-251xl) var(--padding-64xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-6xl);
  background-image: url(/public/dariodd-k8tnrcwcunsplash-copy-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 118%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-1600);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1275px) {
  .frame-parent6 {
    flex: 1;
  }
  .testimonial-card-container {
    flex-wrap: wrap;
  }
  .dario-dd-k8tnrcwc-unsplash-cop-parent {
    padding-left: var(--padding-116xl);
    padding-right: var(--padding-116xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .frame-parent5 {
    min-width: 100%;
  }
  .dario-dd-k8tnrcwc-unsplash-cop-parent {
    padding-top: var(--padding-80xl);
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent5 {
    padding-top: var(--padding-118xl);
    padding-bottom: var(--padding-117xl);
    box-sizing: border-box;
  }
  .dario-dd-k8tnrcwc-unsplash-cop-parent {
    padding-left: var(--padding-48xl);
    padding-right: var(--padding-48xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dario-dd-k8tnrcwc-unsplash-cop-parent {
    padding: var(--padding-45xl) var(--padding-xl) var(--padding-16xl);
    box-sizing: border-box;
  }
}
