.how-are-paid {
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.eparrow-up-icon7 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.seventh-question-container {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.sixth-question-row-child {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sixth-question-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.is-djfy-available {
  position: relative;
  font-weight: 500;
}
.is-djfy-available-for-all-type-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.eparrow-up-icon8 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.sixth-question-row1 {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.sixth-question-row-item {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sixth-question-row2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.how-do-i1 {
  position: relative;
  font-weight: 500;
}
.how-do-i-sign-up-for-djfy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.eparrow-up-icon9 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.sixth-question-row3 {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.sixth-question-row-inner {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sixth-question-row4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.can-i-use1 {
  position: relative;
  font-weight: 500;
}
.can-i-use-djfy-on-my-mobile-de-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.eparrow-up-icon10 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.sixth-question-row5 {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.line-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sixth-question-row6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
}
.how-can-i {
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.eparrow-up-icon11 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.eigth-question {
  width: 1133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.eigth-question-container-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eigth-question-container,
.sixth-question-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.sixth-question-container {
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 750px) {
  .eigth-question,
  .seventh-question-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .sixth-question-row1,
  .sixth-question-row3,
  .sixth-question-row5 {
    flex-wrap: wrap;
  }
}
