.mask-group-icon3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 3;
}
.frame-child4 {
  width: 330px;
  height: 175px;
  position: relative;
  border-radius: 0 0 var(--br-mid) var(--br-mid);
  background: linear-gradient(180deg, transparent 7.75%, #000);
  display: none;
  max-width: 100%;
}
.jun-23 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  z-index: 5;
}
.dj-sling {
  margin: 0;
  font-weight: 600;
}
.koramangla-bengaluru-india {
  margin: 0;
  font-size: var(--font-size-sm);
  line-height: 151.9%;
  font-weight: 300;
  color: var(--color-white);
}
.dj-sling-koramangla-container {
  position: relative;
  z-index: 5;
}
.dj-sling-koramangla-bengaluru-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-crimson-300);
}
.rectangle-parent3,
.web-apps-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent3 {
  flex: 1;
  border-radius: 0 0 var(--br-mid) var(--br-mid);
  background: linear-gradient(180deg, transparent 7.75%, #000);
  flex-direction: column;
  padding: var(--padding-66xl) var(--padding-2xl) var(--padding-lgi);
  gap: var(--gap-6xs);
  z-index: 4;
}
.web-apps-content {
  flex-direction: row;
  padding: var(--padding-96xl) 0 0;
  position: relative;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gold);
  font-family: var(--font-montserrat);
}
