.mask-group-icon5 {
  height: 53px;
  width: 53px;
  position: relative;
  object-fit: cover;
}
.web-app-features-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.scan-the-qr {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-gray-1600);
  text-align: center;
}
.web-app-features {
  width: 829px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lgi-5);
  max-width: 100%;
}
.web-app-illustration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.b872e8-1-icon {
  height: 707px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.usage-video-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.gallery-description,
.gallery-description1,
.gallery-description2,
.gallery-description3,
.gallery-description4 {
  height: 10px;
  width: 10px;
  position: relative;
  border-radius: var(--br-4xs-5);
  background-color: var(--color-gainsboro);
}
.gallery-description2,
.gallery-description3,
.gallery-description4 {
  background-color: var(--color-gold);
}
.gallery-description3,
.gallery-description4 {
  background-color: var(--color-gainsboro);
}
.gallery-container,
.gallery-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.gallery-title {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.gallery-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-child5 {
  height: 58px;
  width: 197px;
  position: relative;
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #f6b910, #d71b2c);
  display: none;
}
.sign-up-as {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-child6,
.rectangle-parent4 {
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #f6b910, #d71b2c);
}
.rectangle-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-6xl);
  white-space: nowrap;
}
.frame-child6 {
  height: 58px;
  width: 197px;
  position: relative;
  display: none;
}
.sign-up-as1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 128px;
  z-index: 1;
}
.gallery,
.gallery-images,
.rectangle-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent5 {
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #f6b910, #d71b2c);
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-15xl);
  white-space: nowrap;
}
.gallery,
.gallery-images {
  justify-content: center;
  gap: var(--gap-21xl);
}
.gallery {
  width: 434px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-32xl);
  max-width: 100%;
}
.usage-video-player {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
}
.usage-video-player,
.web-apps-button,
.web-apps-call-to-action {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.web-apps-button {
  width: 1045px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-39xl);
}
.web-apps-call-to-action {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-107xl) var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1275px) {
  .web-apps-call-to-action {
    padding-bottom: var(--padding-63xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .gallery-images {
    flex-wrap: wrap;
  }
  .web-apps-button {
    gap: var(--gap-10xl);
  }
  .web-apps-call-to-action {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .gallery-images {
    gap: var(--gap-xl);
  }
  .gallery {
    gap: var(--gap-6xl);
  }
}
